.flash-box
.wrapper
	.chat-side
		.side-header
			.side-header_box
				%p.side-header_box_user-name user_name
			%ul.side-header_box_menu
				%li.side-header_box_menu_edit-user
					%a{ :href => '/groups/new' }
						%i .fa.fa-edit
				%li.side-header_box_menu_new-group
					%a{ :href => 'users/user.id/edit'}
						%i .fa.fa-cog
		.groups
			%a{ :href => '/groups/94/messages'}
				.group
					%p.group_group-name group-name1
					%p.group_latest-message
			%a{ :href => '/groups/150/messages'}
			%a{ :href => '/groups/195/messages'}
			%a{ :href => '/groups/196/messages'}

	.chat-main
		.main-header
			.main-header_left-box
			%a{ :href => '/groups/94/edit'}

		.messages

		.form