@import "./config/valiable";
.chat-side {
  width: 300px;
  color: $chat-side-text;
  float: left;
    a {
      color: $chat-side-text;
    }
    &__side-header {
      height: 100px;
      width: 100%;
      font-size: 16px;
      padding: 0 20px;
      background-color: #253141;
      font-weight: bold;
       &__user-name {
         font-size: 16px;
         display: block;
         padding: 30px 0;
       }
      &__user-menu {
          li {
            display: list-item;
            margin: 0 auto;
            position: relative;
            bottom: 50px;
          }
          &__edit-user {
            float: left;
            left: 220px;
          }
          &__new-group {
            float: right;
          }
      }
    }
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px;
      &__group {
        padding-bottom: 40px;
        &__group-name {
          margin-top: 20px;
          font-size: 15px;
          font-weight: bold;
        }
        &__latest-message {
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
}